<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="w-dvw h-dvh flex justify-center items-center gap-5 p-5 overflow-hidden">
    <div class="w-1/5 h-full flex flex-col gap-5 overflow-x-hidden overflow-y-auto">
        <h2 class="w-full text-lg font-semibold">History</h2>
        <div id="history" class="w-full grow flex flex-col gap-1 overflow-x-hidden overflow-y-auto"></div>
    </div>

    <div class="w-3/5 h-full flex flex-col gap-5 justify-center items-center overflow-x-hidden overflow-y-auto">
        <div class="w-full flex gap-5 justify-center items-center">
            <textarea id="prompt" class="grow border border-black rounded-lg p-2.5" required></textarea>
            <button class="p-2 bg-green-400 font-medium rounded-lg hover:opacity-75" onclick="compareButton()">Compare</button>
        </div>
    
        <h2 class="w-full text-lg font-semibold">Previous</h2>
        <div id="previous" class="w-full px-5">N/A</div>
        <h2 id="found" class="w-full text-lg font-semibold">Found: 0</h2>
        <div id="result" class="w-full grow flex flex-col px-5 overflow-y-auto overflow-x-hidden"></div>
    </div>
    <div class="w-1/5 h-full flex flex-col gap-5 overflow-x-hidden overflow-y-auto">
        <h2 class="w-full text-lg font-semibold">Keywords</h2>
        <div id="keywords" class="w-full flex flex-wrap gap-1 overflow-x-hidden overflow-y-auto">N/A</div>
    </div>

    <script>
        function setTextToPrompt(inputText) {
            document.getElementById("prompt").value = inputText;
        }

        async function compareButton() {
            const inputText = document.getElementById("prompt").value.trim();

            if (inputText == '') {
                return;
            }

            const response = await fetch("/compare", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "prompt": document.getElementById("prompt").value.trim()
                })
            });
            const result = await response.json();

            if (!response.ok) {
                console.error(result.error);
                return;
            }

            const prompt = document.getElementById("prompt").value;

            const historyElement = document.createElement("div");
            historyElement.className = "w-full h-fit p-2.5 flex flex-col justify-center overflow-hidden bg-gray-100 hover:bg-gray-300 rounded-lg cursor-pointer";
            historyElement.innerHTML = `
                <div class="whitespace-nowrap overflow-hidden text-ellipsis">${prompt}</div>
                <div>Found: ${result.result.length}</div>
            `;
            historyElement.addEventListener("click", function() {
                setTextToPrompt(prompt);
            })
            document.getElementById("history").appendChild(historyElement);



            document.getElementById("previous").textContent = prompt;
            document.getElementById("prompt").value = "";

            const keyList = document.getElementById("keywords");
            keyList.innerHTML = "";

            result.keywords.forEach(element => {
                const divElement = document.createElement("div");
                divElement.className = "w-fit h-fit px-5 py-2.5 bg-gray-100 cursor-pointer rounded hover:bg-gray-300";
                divElement.textContent = element;
                keyList.appendChild(divElement);
            });

            document.getElementById("found").textContent = `Found: ${result.result.length}`;

            const resultList = document.getElementById("result");
            resultList.innerHTML = "";

            result.result.forEach(element => {
                const divElement = document.createElement("div");
                divElement.className = "w-full px-5 py-2.5 hover:bg-gray-200 cursor-pointer rounded";
                divElement.textContent = element;
                divElement.addEventListener("click", function() {
                    const [videoUrl, videoDescription] =element.split(" - ");
                    window.open(`https://www.drive.google.com/drive/search?q=${videoUrl.trim()}`, "_blank");
                })

                resultList.appendChild(divElement);
            });
        }

        document.getElementById("prompt").addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                compareButton();
                return;
            }
        });
    </script>
</body>
</html>